[tool.poetry]
name = "themester"
version = "0.0.0"
description = "Themester"
authors = ["Paul Everitt <pauleveritt@me.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/pauleveritt/themester"
repository = "https://github.com/pauleveritt/themester"
documentation = "https://themester.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
]

[tool.poetry.urls]
Changelog = "https://github.com/pauleveritt/themester/releases"

[tool.poetry.dependencies]
python = "^3.10"
MarkupSafe = "^2.1.0"
hopscotch = "^0.3.0"
viewdom = "^0.6.3"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
coverage = {extras = ["toml"], version = "^6.1"}
safety = "^1.10.3"
mypy = "^0.931"
typeguard = "^2.13.3"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
sphinx = "^4.3.2"
sphinx-autobuild = ">=2021.3.14"
pre-commit = "^2.17.0"
flake8 = "^4.0.1"
black = ">=21.10b0"
flake8-bandit = "^3.0.0"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.5"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
sphinx-click = "^3.0.2"
Pygments = "^2.11.2"
pyupgrade = "^2.38.0"
furo = ">=2021.11.12"
nox = "^2022.1.7"
nox-poetry = "^0.9.0"

[tool.poetry.scripts]
themester = "themester.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["themester", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 80

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
